* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	background-color: #f8f9fa;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-container {
	background-color: white;
	padding: 40px;
	width: 400px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.login-container h2 {
	text-align: left;
	margin-bottom: 20px;
	color: black;
}

.login-container label {
	text-align: left;
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.page-icon {
	width: 30px;
	height: 30px;
}
.checkbox-section {
	margin: 20px 0;
	text-align: left;
}

.checkbox-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
	margin-right: 10px;
}

.login-container button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}

.login-container button:hover {
	background-color: #f0f3fb;
	color: black;
}

.login-container p {
	margin-top: 20px;
	font-size: 14px;
}

.login-container a {
	color: black;
	text-decoration: none;
}

.login-container a:hover {
	text-decoration: underline;
}

.coloringclass {
	color: black;
	opacity: 50%;
}
.coloringclass2 {
	color: black;
}
